# Klasifikasi Bunga Iris

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [3]:
df = pd.read_csv("datasets/weight-height.csv")

In [4]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

df.Gender = label_enc.fit_transform(df.Gender)
print(df.Gender)

0       1
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Gender, Length: 10000, dtype: int32

In [6]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

## Scaling dan Labeling Atribut

In [13]:
X = df.iloc[:,:-1]
y = df.drop(['Gender', 'Height'], axis =1)
print(X)
print(y)
X = std_scaler.fit_transform(X)
y = std_scaler.fit_transform(y)
print(X)
print(y)

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
9995       0  66.172652
9996       0  67.067155
9997       0  63.867992
9998       0  69.034243
9999       0  61.944246

[10000 rows x 2 columns]
          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
9995  136.777454
9996  170.867906
9997  128.475319
9998  163.852461
9999  113.649103

[10000 rows x 1 columns]
[[ 1.          1.94406149]
 [ 1.          0.62753668]
 [ 1.          2.01244346]
 ...
 [-1.         -0.64968792]
 [-1.          0.69312469]
 [-1.         -1.14970831]]
[[ 2.50579697]
 [ 0.02710064]
 [ 1.59780623]
 ...
 [-1.02672965]
 [ 0.07512745]
 [-1.48850724]]

## Training Model

In [8]:
log_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)
# print(X_train)

model = log_regr.fit(X_train, y_train)

In [9]:
accuracy = model.score(X_test, y_test)

In [10]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.46299875924997%

## Menyimpan Model dan Scaler

In [11]:
joblib.dump((model, std_scaler), "beratbaru-using-logistic-regression.pkl")

['beratbaru-using-logistic-regression.pkl']